* {
    padding: 0px;
    margin: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
    

    body {
        background-color: #B15E6C;
    }
    
    /* pagina de inicio */

    .ubicacion {
        text-align: center;
    }

    .textoPrincipal {
        text-align: center;
        }
        
        footer {
        background-image: linear-gradient(to right, #B15E6C, #CF8BA9);
        grid-area: pie;
        text-align: center;
        }

    /*pagina productos destacados */
    
.aviso {
    text-align: center;
    border: solid 8px;
}
        
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    
    .hamburguesa-a {
    justify-items: start;
    }
    
    .hamburguesa-b {
    justify-items: center;
    }
    
    .hamburguesa-c {
    justify-items: end;
    }
    
    /* pagina franquicias */

    .tituloFranquicias {
        text-align: center;
    }

    .franquicias {
        display: grid;
        grid-template-columns: repeat(7, 7fr);
        text-align: center;
    }

    
    /* pagina  nuestra historia */
    .video {
        text-align: center;
        }

    
    /* pagina trabaja con nosotros y formulario de franquicias*/
    
    .formulario {
    border: solid 7px;
    }
    